<div class="container">

  <!--classes ui sao do sistema de grid responsivo do primeNg, equivalente ao bootstrap-->
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12 ui-fluid">
        <label for="">Nome</label>
        <input pInputText type="text" name="filter.nome" [(ngModel)]="filter.nome" >
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" ></button>
      </div>

    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <!--Passamos o array de pessoas como parametro para esse componente do primeng-->
      <p-dataTable lazy="true" [value]="pessoas" [paginator]="true" #table
        [rows]="filter.itens" [responsive]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="currentPage($event)"
        emptyMessage="Nenhum registro foi encontrado!" >

        <p-column field="nome" header="Nome"></p-column>
        <p-column field="endereco.cidade" header="Cidade"></p-column>
        <p-column field="endereco.estado" header="Estado"></p-column>

        <p-column field="ativo" header="Status">
          <!--body altera as celulas, header apenas o cabecalho da tabela-->
          <!--aqui criamos uma variavel "pes" pegando os dados do p-dataTable-->
          <ng-template let-pes="rowData" pTemplate="body">
              <a href="javascript:;" [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'"
                tooltipPosition="top" (click)="inverterStatus(pes)">
                {{ pes.ativo ? 'Ativo' : 'Inativo' }}
              </a>
          </ng-template>
        </p-column>

        <p-column styleClass="col-actions">
            <ng-template pTemplate="body" let-pes="rowData">
              <!--usando icones do fonts-awesome-->
              <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/pessoas', pes.id]"></a>
              <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pes)"></button>
            </ng-template>
        </p-column>

      </p-dataTable>


    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa" [routerLink]="['/pessoas/novo']"></a>
    </div>

  </div>
</div>
