<div class="container">

  <!--classes ui sao do sistema de grid responsivo do primeNg, equivalente ao bootstrap-->
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="">Descrição</label>
        <input pInputText type="text" name="filter.descricao" [(ngModel)]="filter.descricao">
      </div>

      <div class="ui-g-12">

        <label style="display:block" for="">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="vencimentoInicio" [(ngModel)]="filter.dataVencimentoInicio"></p-calendar>

        <label for="">Até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="vencimentoFim" [(ngModel)]="filter.dataVencimentoFim"></p-calendar>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" ></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <!--Passamos o array de lancamentos como parametro para esse componente do primeng
      LazyLoad, total records eh o numero total de lancamentos, nao da pagina, usa para montar a paginacao
      onLazyLoad eh executado sempre que navegamos na paginacao, e eh executado quando a pagina carrega-->
      <p-table [paginator]="true" lazy="true" [responsive]="true"
      [value]="lancamentos" [rows]="filter.itens" [totalRecords]="totalRegistros"
      (onLazyLoad)="currentPage($event)"
      #table>

      <!--Nova forma com o turbotable-->
      <ng-template pTemplate="header">
        <tr>
          <th>Pessoa</th>
          <th>Descrição</th>
          <th class="col-data-header">Vencimento</th>
          <th class="col-data-header">Pagamento</th>
          <th class="col-valor-header">Valor</th>
          <th class="col-acoes-header">Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-lancamento>
        <tr>
          <td>{{ lancamento.pessoa }}</td>
          <td>{{ lancamento.descricao }}</td>
          <td class="col-data">{{ lancamento.dataVencimento | date:'dd/MM/yyyy' }}</td>
          <td class="col-data">{{ lancamento.dataPagamento | date:'dd/MM/yyyy' }}</td>
          <td class="col-valor" [style.color]="lancamento.tipo==='DESPESA'?'red':'blue'">{{ lancamento.valor | number:'1.2-2' }}</td>
          <td class="col-acoes">
            <!--usando icones do fonts-awesome-->
            <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
            [routerLink]="['/lancamentos', lancamento.codigo]"></button>
            <button pButton icon="fa-trash" pTooltip="Excluir"
              tooltipPosition="top" (click)="confirmarExclusao(lancamento)"
              [disabled]="!auth.hasPermission('ROLE_REMOVER_LANCAMENTO')"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Nenhum Lançamento Encontrado!</td>
        </tr>
      </ng-template>

      </p-table>


    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Lançamento" routerLink="/lancamentos/novo"></a>
    </div>

  </div>


</div>
