/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label{
  font-weight: bold;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.col-valor{
  text-align: right;
  width: 120px;
}

.col-data{
  text-align: center;
  width: 120px;
}

.col-actions{
  text-align: center;
  width: 90px;
}
